<div class="footer-container">
    <div class="copyright">Copyright 2025. Nayeong Kim</div>
    <div class="contact-info">
        <a href="mailto:lucillenayoung@gmail.com">lucillenayoung@gmail.com</a>
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/nayeong/" class="linkedin-icon" target="_blank">
                <img src="assets/images/linkedin.png" alt="LinkedIn">
            </a>
            <a href="https://www.instagram.com/lucillen_12/" class="instagram-icon" target="_blank">
                <img src="assets/images/instagram.png" alt="Instagram">
            </a>
        </div>
    </div>
</div> 