<div class="header-container">
    <div class="logo">
        <a href="index.html" class="logo-link">
            <span class="logo-text">Nayeong Kim</span>
        </a>
    </div>
    <nav class="main-nav">
        <ul>
            <li>
                <a href="index.html#works" class="nav-link" data-page="works">
                    <span>Works</span>
                </a>
            </li>
            <li>
                <a href="about.html" class="nav-link" data-page="about">
                    <span>About</span>
                </a>
            </li>
            <li>
                <a href="assets/files/NayeongKim_CV.pdf" target="_blank" class="cv-link">
                    <span>CV</span>
                </a>
            </li>
        </ul>
    </nav>
</div> 